<% include partials/header %>

<div class="container">
      <header class="jumbotron">
        <div class="container">
            <h3>You broke the site...</h3>
            <img src="https://pbs.twimg.com/profile_images/948294484596375552/RyGNqDEM_400x400.jpg">
        </div>
      </header>
</div>

<% include partials/footer %>