<% include partials/header %>
<div class="container">
      <header class="jumbotron">
        <div class="container">
            <h1>About</h1>
            <p>Our mission, goals, and ultimate purpose.</p>
        </div>
      </header>
      
      <div id="aboutUs">
           <p>
              I thought today we would do a happy little picture. You want your tree to have some character. Make it special. 
              We have a fantastic little sky! I sincerely wish for you every possible joy life could bring. That's a crooked tree.
              We'll send him to Washington. We spend so much of our life looking - but never seeing.
          </p>
           <p>
              A little happy sunlight shining through there. See how easy it is to create a little tree right in your world. 
              Isn't that fantastic that you can create an almighty tree that fast? This is your world, whatever makes you happy 
              you can put in it. Go crazy. Let your heart be your guide. If you've been in Alaska less than a year you're a 
              Cheechako. Isn't that fantastic? You can just push a little tree out of your brush like that. If I paint something,
              I don't want to have to explain what it is. Learn when to stop.
          </p>
          <p>
              We'll make some happy little bushes here. Every day I learn. That's why I paint - because I can create the kind of 
              world I want - and I can make this world as happy as I want it. These things happen automatically. All you have to 
              do is just let them happen. You can do anything here. So don't worry about it. It just happens - whether or not you
              worried about it or tried to plan it. Now let's put some happy little clouds in here. We'll do another happy little 
              painting. Just make a decision and let it go.
          </p>
          <p>
              We have no limits to our world. We're only limited by our imagination. Imagination is the key to painting. 
              Sometimes you learn more from your mistakes than you do from your masterpieces. Use absolutely no pressure. Just 
              like an angel's wing. Let's put some happy little clouds in our world. Don't be afraid to make these big decisions.
              Once you start, they sort of just make themselves. It's a good way of getting rid of all your anxieties and 
              hostilities. Let's put some happy little bushes on the other side now. It's a super day, so why not make a 
              beautiful sky?
          </p>
          <p>
              You can create the world you want to see and be a part of. You have that power. But they're very easily killed. 
              Clouds are delicate. In painting, you have unlimited power. You have the ability to move mountains. You can bend 
              rivers. But when I get home, the only thing I have power over is the garbage.
          </p>
          <p>
              We have all at one time or another mixed some mud. We'll take a little bit of Van Dyke Brown. The only prerequisite
              is that it makes you happy. If it makes you happy then it's good. A beautiful little sunset. If you hypnotize it, 
              it will go away. Here's something that's fun. See. We take the corner of the brush and let it play back-and-forth. 
              Everyone needs a friend. Friends are the most valuable things in the world. You're the greatest thing that has ever 
              been or ever will be. You're special. You're so very special. Here we're limited by the time we have. We artists 
              are a different breed of people. We're a happy bunch.
          </p>
          <p>
              Look around, look at what we have. Beauty is everywhere, you only have to look to see it. Let all these things just
              sort of happen. Now then, let's play. You could sit here for weeks with your one hair brush trying to do that - or 
              you could do it with one stroke with an almighty brush. How do you make a round circle with a square knife? That's
              your challenge for the day. That's a son of a gun of a cloud. We don't have to be committed. We are just playing 
              here. And right there you got an almighty cloud. Nice little clouds playing around in the sky. If there's two big 
              trees invariably sooner or later there's gonna be a little tree.
          </p>
      </div>
      <div id="ytLink">
          <a class="btn btn-primary btn-large" href="https://youtu.be/YLO7tCdBVrA">Visit us on YouTube!</a>   
      </div>
      
      
</div>



<% include partials/footer %>