<% include partials/header %>

<div id="homeDiv">
    <p>Welcome to Dream Travel!</p>
    <a id="homeCenterBtn" class="btn btn-primary btn-large" href="/destinations">View Destinations</a>
</div>

    <div>
        <ul class="slideshow">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
    </div>

<% include partials/footer %>